<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .classes{
        display: flex;
        flex-direction: column;
        
  margin: 10px;
    }
</style>
<body>
    
    <!-- <p><%= edpuzzleData[0].name %></p> -->
    
        <% edpuzzleData.map((elm,i) => { %>
            <div class="classes">
            <button onclick="answers('<%= elm._id %>')"><p><%= elm.name %></p></button>
        </div>
        <% }) %>
   
   
</body>
<script>
    function answers(id){
        console.log(id)
    }
</script>
</html>