<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <title>Edpuzzle Info</title>
    <meta name="referrer" content="strict-origin" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-91CBMKRN8Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-91CBMKRN8Y');
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

        video {
            height: 100%;
            width: 100%;
            padding: 10px;
        }

        * {
            font-family: 'Fredoka One', cursive;
            font-weight: 100;
            padding: 0px;
            margin: 0px;
        }

        .card {

            min-height: 200px;

            width: 100%;
            grid-template-rows: 20px 50px 1fr 50px;
            border-radius: 10px;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
            transition: all 0.2s;


            transition: all 0.5s;


        }

        .card:hover {
            transition: 0.5s;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
            transform: scale(1.01);
            cursor: pointer;

        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
                Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            background-image: url(https://coolbackgrounds.io/images/backgrounds/index/aqua-d9b59c89.png);
            overflow-y: auto;
            overflow-x: hidden;
            margin: 0px;
            padding: 0px;
        }

        input {
            border: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: #f2f2f2;
            padding: 12px;
            border-radius: 3px;
            width: 300px;
            font-size: 14px;
            height: 25px;

        }

        button {

            background-color: rgb(204, 201, 201);
            cursor: pointer;
            border: none;
            height: 50px;
            border-radius: 5px;
        }

        button:hover {
            background-color: darkgrey;
        }

        .bg {
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.2);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
            transition: 0.5s;
        }

        .card2{
            margin-top: 5px;
        }

        video {


            height: 800px;
            width: 800px;
            padding: 0px;
            margin: 0px;
        }

        
        button {
            padding: 5px;
        }

        h1 {
            font-size: 75px;
        }

        #dad {
            background: none;
        }

        @media (max-width: 600px) {
            video {
                height: 300px;
                width: 300px;
            }
        }

        input {
            margin: 10px;
        }

        hr {
            border: 8px solid rgb(32, 128, 238);
            margin-top: 25px;
            height: 1px;
            background-color: rgb(32, 128, 238);
            
        }
    </style>
</head>

<body>
    <section class="bg">
        <br />
        <h1>Edpuzzle Answers</h1>

        <div class="card">
            <h2 id="dad">Login with token</h2>
            

            <form method="post" action="/edpuzzle/token">
                <input type="text" name="token" placeholder="Insert token here" required />
                <button type="submit">Get Answers</button>
            </form>
            <h2>OR</h2>
            <div class="card2">
                <h2 id="dad">Login with Edpuzzle Username and Password</h2>
                <form action="/edpuzzle/login" method="post">
                    <input type="text" name="username" placeholder="username" required id="username" />
                    <br />
                    <input type="password" name="password" placeholder="password" id="password" required />
                    <br />
    
                    <button onclick="loginMethod()">Get Answers!</button>
                </form>
            </div>
            <hr />
            <h2>How to get your token</h2>
            <video src="/edpuzzlehax1.mp4" type="video/mp4" muted autoplay loop poster="/edpuzzlehax1.mp4">
                
            </video>
            
        </div>

        


    </section>

    <script>
        function loginMethod() {
            const username = document.getElementById("username")
            const password = document.getElementById('password')







        }

    </script>
</body>


</html>