<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        video{
            padding: 10px;
            height: 1000px;
            width: 1000px;
        }
    </style>
</head>
<body>
    <h1>
        Enter Edpuzzle token
    </h1>

    <form action="/edpuzzle/token" method="post">
        <input type="text" name="token" placeholder="edpuzzle token"/>
        <button type="submit">Get Answers!</button>
    </form>

    <video src="/edpuzzlehax1.mp4" type="video/mp4" muted autoplay loop poster="/edpuzzlehax1.mp4"></video>
    
    

</body>
</html>