<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Edpuzzlehax">
    <meta property="og:title" content="Edpuzzlehax">
    <meta property="og:description"
        content="Get any and all the edpuzzle answers for free">
    <meta property="og:image"
        content="https://media.discordapp.net/attachments/961105604829659196/1027775283346026536/EH2.png">
        
        <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>

    <title>Edpuzzlehax</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
        video{
            padding: 10px;
            height: 1000px;
            width: 840px;
            justify-content: center;
            align-items: center;
            float: left;
        }

* {
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
  overflow: auto;
  padding: 0px;
  margin:0px;
}

ul{
  z-index: 1;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  color: black;
}

li {
 background: transparent; 
 color: black;
}

li:hover {
  font-style: italic;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-decoration: underline;
}

li a:hover:not(.active) {
  background-color: transparent;
  color: black;
}

.active {
  background-color: transparent;
  color: black;
}
header {
  height: 200vh;
}

#howto{
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}
form{
    display: flex;
    justify-content: center;
}

input {
    border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 300px;
  font-size: 14px;
  height: 25px;
  
}
button {
   
    background-color: rgb(204, 201, 201);
    cursor: pointer;
    border: none;
 }

 button:hover{
  background-color: darkgrey;
 }

.container {
  /* hide fixed overflow contents */
  clip: rect(0, auto, auto, 0);

  /* does not work if overflow = visible */
  overflow: hidden;

  /* only works with absolute positioning */
  position: absolute;

  /* Make sure containers are full-width and height */
  height: 100vh;
  left: 0;
  width: 100%;
  
  
  /* safari hack */
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
}

.container_solid {
  background: white;
  
  /* position this container at the top of its parent element */
  top: 0;
}

.title_wrapper {
  position: fixed;
  display: block;  
  margin: auto;
  width: 100%;
  /* center the text wrapper vertically */
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

.container_solid .title_wrapper h1 {
  /* the text background */
  background: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?&q=85);
  background-size: 100vw auto;
  background-position: center;
  
  /* clip the text is possible */
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
  /* fallback text color */
  color: black;
}

.container_image {
  /* Grab a free image from unsplash */
  background-image: url(https://i.redd.it/cjkz6lpzmprx.jpg);
  background-size:100vw auto;
  background-position: center;
  background-attachment: fixed;
  
  /* position the second container below the first container */
  top: 100vh;
}

.container_image .title_wrapper h1 {
  color: white;
}

section {
  min-height: 100vh;
  padding: 2em;
  margin: auto;
  max-width: 800px;
}

section h2 {
  font-family: 'Fraunces', serif;
}

section p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

    </style>
</head>
<body>
    <!-- <h1>
        Enter Edpuzzle token
    </h1> -->

    
    <!-- <form action="/edpuzzle/token" method="post">
        <input type="text" name="token" placeholder="edpuzzle token"/>
        <button type="submit">Get Answers!</button>
         </form>
    
    <video src="/edpuzzlehax1.mp4" type="video/mp4" muted autoplay loop poster="/edpuzzlehax1.mp4"></video> -->
    

    <ul>
      <li><a class="active" href="/dashboard">Dashboard</a></li>
      
      
    </ul>
    
<header>

    <!-- First container -->
    <div class="container container_solid">
      <div class="title_wrapper">
        <h1>Edupuzzle hax</h1>
      </div>
    </div>
  
    <!-- Second container -->
    <div class="container container_image" aria-hidden="true">
      <div class="title_wrapper">
        <h1>Get them Free Now</h1>
      </div>
    </div>
  
  </header>
  
  <section>
    <form action="/edpuzzle/token" method="post">
        <input type="text" name="token" placeholder="edpuzzle token" required/>
        <button type="submit">Get Answers!</button>
    </form>
    
    <h1 id="howto">How to get Your Token</h1>
    <p id="howto">(Do <b>NOT</b> leak your token or people can <b>hack your account!!</b>)</p>
    <p id="howto">(Made by <b>dom#3755</b> on discord. Check out my <a href="https://github.com/DudeUnoob">github!</a> )</p>
    <video src="/edpuzzlehax1.mp4" type="video/mp4" muted autoplay loop poster="/edpuzzlehax1.mp4"></video>
  </section>

</body>
</html>
